<h1><%= title %></h1>

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<form action="/inventory/add-inventory" method="post">
    <label for="make">Make</label>
    <input type="text" name="inv_make" id="make" required>

    <label for="model">Model</label>
    <input type="text" name="inv_model" id="model" required>

    <label for="year">Year</label>
    <input type="number" name="inv_year" id="year" required>

    <label for="description">Description</label>
    <textarea type="text" name="inv_description" id="description" required>

    <label for="price">Price</label>
    <input type="number" name="inv_price" id="price" required>

    <label for="miles">Miles</label>
    <input type="number" name="inv_miles" id="miles" required>

    <label for="color">Color</label>
    <input type="text" name="inv_color" id="color" required>

    <button type="submit">Create New Inventory Item</button>
</form>