<h1><%= title %></h1>


<div class="management-view">
    <a href="/account/add-classification"><button class="classification-button">Add a New Classification</button></a>
    <a href="/account/add-inventory"><button class="inventory-button">Add a New Inventory Item</button></a>
</div>